* {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.logo {
	color: white;
	padding: 1rem 0.5rem;
	font-size: 1.5rem;
}

.logo2 {
	color: white;
	padding-top: 1rem;
}

.title {
	margin-bottom: 3rem;
	padding-top: 3rem; 
	color: white;
}

.font-lg {
	font-size: 3rem;
}

.bg-img {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./img/7.jpg);
	background-size: cover;
	background-position: center center;
}

.bg-img-2 {
	height: 20rem;
}

#form {
	margin: auto;
	width: 25%;
}

input {
	height: 2.5rem;
}

#submitWeather {
	height: 2.5rem;
	background-color: #29a3a3;
	color: white;
	border: 0;
	vertical-align: top;
}

#show {
	margin: auto;
	width: 60%;
}

.footer {
	background-color: black;
	color: white;
	width: 100%;
	height: 80px;
}

.detail {
	font-size: 1.2rem;
	margin-top: 3.5rem;
}